In [1]:
5 > 2

True

In [2]:
ord('k')

107

In [3]:
ord('K')

75

In [14]:
i = 'Khong Li Jiun'
j = 'Tin Shu Shan'

In [15]:
total = 0
for s in i:
    print(ord(s), end=' ')
    total += int(ord(s))
print(f"Total: {total}")

total = 0
for s in j:
    print(ord(s), end=' ')
    total += int(ord(s))
print(f"Total: {total}")

75 104 111 110 103 32 76 105 32 74 105 117 110 Total: 1154
84 105 110 32 83 104 117 32 83 104 97 110 Total: 1061

In [11]:
'Khong Li Jiun' > 'Tin Shu Shan'

False

In [17]:
'' == True

False

In [18]:
' ' == True

False

In [20]:
[] == True

False

In [22]:
salary = 8000
if salary < 5000:
    print('You are B40')
elif salary < 10000:
    print('You are M40')
else:
    print('You are T20')

You are M40